@media (min-width: 0) {

/*
==========================================================================
 MOBILE SETTINGS
========================================================================== */

/* Display */
.show-mobile { display: block !important; }
.hide-mobile { display: none !important; }
.m-none { display: none !important; }
.m-show { opacity: 1 !important; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); }
.m-hide { opacity: 0 !important; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); cursor: default !important; }
.printonly { display: none; }
.desktoponly { display: none; }
.tabletonly { display: none; }
.mobileonly { display: block; }


/* Line Height */
.m-line0 { line-height: 0 !important; }
.m-line01 { line-height: .1 !important; }
.m-line025 { line-height: .25 !important; }
.m-line05 { line-height: .5 !important; }
.m-line1 { line-height: 1 !important; }
.m-line15 { line-height: 1.5 !important; }
.m-line2 { line-height: 2 !important; }
.m-line25 { line-height: 2.5 !important; }
.m-line3 { line-height: 3 !important; }

/* Width */
.m-widthauto { width: auto !important; }
.m-width1em { width: 1em !important; }
.m-width2em { width: 2em !important; }
.m-width3em { width: 3em !important; }
.m-width4em { width: 4em !important; }
.m-width5em { width: 5em !important; }
.m-width7em { width: 7em !important; }
.m-width8em { width: 8em !important; }
.m-width9em { width: 9em !important; }
.m-width10em { width: 10em !important; }
.m-width11em { width: 11em !important; }
.m-width12em { width: 12em !important; }
.m-width13em { width: 13em !important; }
.m-width14em { width: 14em !important; }
.m-width15em { width: 15em !important; }
.m-width16em { width: 16em !important; }
.m-width18em { width: 18em !important; }
.m-width20em { width: 20em !important; }
.m-width25em { width: 25em !important; }


/* Minimum Width */
.m-min5 { min-width: 5em !important; }
.m-min7 { min-width: 7em !important; }
.m-min9 { min-width: 9em !important; }
.m-min10 { min-width: 10em !important; }
.m-min14 { min-width: 14em !important; }
.m-min15 { min-width: 15em !important; }
.m-min18 { min-width: 18em !important; }
.m-min20 { min-width: 20em !important; }
.m-min25 { min-width: 25em !important; }


/* Maximum Width */
.m-maxwidth { max-width: 100% !important; }
.m-max5 { max-width: 5em !important; }
.m-max7 { max-width: 7em !important; }
.m-max10 { max-width: 10em !important; }
.m-max15 { max-width: 15em !important; }
.m-max20 { max-width: 20em !important; }
.m-max25 { max-width: 25em !important; }

/* Height */
.m-height25 { height: 25% !important; }
.m-height33 { height: 33.33% !important; }
.m-height50 { height: 50% !important; }
.m-height75 { height: 75% !important; }
.m-height100 { height: 100% !important; }

.m-vheight25 { height: 25vh !important; }
.m-vheight33 { height: 33.33vh !important; }
.m-vheight50 { height: 50vh !important; }
.m-vheight75 { height: 75vh !important; }
.m-vheight100 { height: 100vh !important; }


/* Min Height */
.m-minheight5 { min-height: 5em !important; }
.m-minheight7 { min-height: 7em !important; }
.m-minheight10 { min-height: 10em !important; }
.m-minheight14 { min-height: 14em !important; }
.m-minheight15 { min-height: 15em !important; }
.m-minheight20 { min-height: 20em !important; }
.m-minheight25 { min-height: 25em !important; }


/* Max Height */
.m-maxheight5 { max-height: 5em !important; }
.m-maxheight7 { max-height: 7em !important; }
.m-maxheight10 { max-height: 10em !important; }
.m-maxheight15 { max-height: 15em !important; }
.m-maxheight20 { max-height: 20em !important; }
.m-maxheight25 { max-height: 25em !important; }
.m-maxheight30 { max-height: 30em !important; }


 /* Lists */
.m-bullets { list-style: inside !important; }


 /* Borders */
.m-border { border: 1px solid #cccccc !important; }
.m-border2 { border: 2px solid #cccccc !important; }
.m-border3 { border: 3px solid #cccccc !important; }
.mt-border { border-top: 1px solid #cccccc !important; }
.mr-border { border-right: 1px solid #cccccc !important; }
.mb-border { border-bottom: 1px solid #cccccc !important; }
.ml-border { border-left: 1px solid #cccccc !important; }
.m-noborder { border: none !important; }


/* Overflow */
.m-hidden { overflow: hidden !important; }
.m-visible { overflow: visible !important; }
.m-wrap { white-space: normal !important; }
.m-nowrap { white-space: nowrap !important; }

/* Margin */
.m-margin0 { margin: 0 !important; }
.m-margin025 { margin: .25em !important; }
.m-margin05 { margin: .5em !important; }
.m-margin1 { margin: 1em !important; }
.m-margin2 { margin: 2em !important; }
.m-margin3 { margin: 3em !important; }
.mx-margin0 { left-margin: 0 !important; right-margin: 0 !important; }
.mx-margin025 { margin: 0 .25em !important; }
.mx-margin05 { margin: 0 .5em !important; }
.mx-margin1 { margin: 0 1em !important; }
.mx-margin2 { margin: 0 2em !important; }
.mx-margin3 { margin: 0 3em !important; }
.my-margin0 { top-margin: 0 !important; bottom-margin: 0 !important; }
.my-margin025 { margin: .25em 0 !important; }
.my-margin05 { margin: .5em 0 !important; }
.my-margin1 { margin: 1em 0 !important; }
.my-margin15 { margin: 1.5em 0 !important; }
.my-margin2 { margin: 2em 0 !important; }
.my-margin3 { margin: 3em 0 !important; }
.my-margin10 { margin: 10em 0 !important; }
.my-margin20 { margin: 20em 0 !important; }
.mt-margin0 { margin-top: 0 !important; }
.mt-margin-6 { margin-top: -6em !important; }
.mt-margin-5 { margin-top: -5em !important; }
.mt-margin025 { margin: .25em 0 0 !important; }
.mt-margin05 { margin: .5em 0 0 !important; }
.mt-margin075 { margin: .75em 0 0 !important; }
.mt-margin1 { margin: 1em 0 0 !important; }
.mt-margin15 { margin: 1.5em 0 0 !important; }
.mt-margin2 { margin: 2em 0 0 !important; }
.mt-margin3 { margin: 3em 0 0 !important; }
.mt-margin4 { margin: 4em 0 0 !important; }
.mt-margin5 { margin: 5em 0 0 !important; }
.mr-margin0 { margin-right: 0 !important; }
.mr-margin05 { margin: 0 .5em 0 0 !important; }
.mr-margin075 { margin: 0 .75em 0 0 !important; }
.mr-margin1 { margin: 0 1em 0 0 !important; }
.mr-margin2 { margin: 0 2em 0 0 !important; }
.mr-margin3 { margin: 0 3em 0 0 !important; }
.mr-margin5 { margin: 0 5em 0 0 !important; }
.mb-margin0 { margin-right: 0 !important; }
.mb-margin025 { margin: 0 0 .25em !important; }
.mb-margin05 { margin: 0 0 .5em !important; }
.mb-margin075 { margin: 0 0 .75em !important; }
.mb-margin1 { margin: 0 0 1em !important; }
.mb-margin2 { margin: 0 0 2em !important; }
.mb-margin225 { margin: 0 0 2.25em !important; }
.mb-margin3 { margin: 0 0 3em !important; }
.ml-margin0 { margin-left: 0 !important; }
.ml-margin05 { margin: 0 0 0 .5em !important; }
.ml-margin1 { margin: 0 0 0 1em !important; }
.ml-margin15 { margin: 0 0 0 1.5em !important; }
.ml-margin2 { margin: 0 0 0 2em !important; }
.ml-margin3 { margin: 0 0 0 3em !important; }


/* Padding */
.m-padding0 { padding: 0 !important; }
.m-padding025 { padding: .25em !important; }
.m-padding05 { padding: .5em !important; }
.m-padding1 { padding: 1em !important; }
.m-padding15 { padding: 1.5em !important; }
.m-padding2 { padding: 2em !important; }
.m-padding3 { padding: 3em !important; }
.mx-padding025 { padding: 0 .25em !important; }
.mx-padding05 { padding: 0 .5em !important; }
.mx-padding1 { padding: 0 1em !important; }
.mx-padding2 { padding: 0 2em !important; }
.mx-padding3 { padding: 0 3em !important; }
.my-padding025 { padding: .25em 0 !important; }
.my-padding04 { padding: .4em 0 !important; }
.my-padding05 { padding: .5em 0 !important; }
.my-padding075 { padding: .75em 0 !important; }
.my-padding1 { padding: 1em 0 !important; }
.my-padding2 { padding: 2em 0 !important; }
.my-padding3 { padding: 3em 0 !important; }
.mt-padding025 { padding: .25em 0 0 !important; }
.mt-padding05 { padding: .5em 0 0 !important; }
.mt-padding075 { padding: .75em 0 0 !important; }
.mt-padding1 { padding: 1em 0 0 !important; }
.mt-padding15 { padding: 1.5em 0 0 !important; }
.mt-padding2 { padding: 2em 0 0 !important; }
.mt-padding3 { padding: 3em 0 0 !important; }
.mr-padding025 { padding: 0 .25em 0 0 !important; }
.mr-padding05 { padding: 0 .5em 0 0 !important; }
.mr-padding1 { padding: 0 1em 0 0 !important; }
.mr-padding15 { padding: 0 1.5em 0 0 !important; }
.mr-padding2 { padding: 0 2em 0 0 !important; }
.mr-padding3 { padding: 0 3em 0 0 !important; }
.mb-padding025 { padding: 0 0 .25em !important; }
.mb-padding05 { padding: 0 0 .5em !important; }
.mb-padding075 { padding: 0 0 .75em !important; }
.mb-padding1 { padding: 0 0 1em !important; }
.mb-padding15 { padding: 0 0 1.5em !important; }
.mb-padding2 { padding: 0 0 2em !important; }
.mb-padding3 { padding: 0 0 3em !important; }
.ml-padding025 { padding: 0 0 0 .25em !important; }
.ml-padding05 { padding: 0 0 0 .5em !important; }
.ml-padding075 { padding: 0 0 0 .75em !important; }
.ml-padding1 { padding: 0 0 0 1em !important; }
.ml-padding125 { padding: 0 0 0 1.25em !important; }
.ml-padding15 { padding: 0 0 0 1.5em !important; }
.ml-padding2 { padding: 0 0 0 2em !important; }
.ml-padding3 { padding: 0 0 0 3em !important; }
.ml-padding05 { padding-left: .5em !important; }


/* Backgrounds */
.m-redbg { background: red !important; }
.m-yellowbg { background: yellow !important; }
.m-greenbg { background: lime !important; }
.m-darkgraybg { background: #767676 !important; }
.m-graybg { background: #cccccc !important; }
.m-silverbg { background: #f2f2f2 !important; }
.m-whitebg { background: #ffffff !important; }
.m-blackbg { background: #000000 !important; }
.m-bluebg { background: #0096d6 !important; }
.m-nobg { background: transparent !important; }


/* Colors */
.m-yellow { color: yellow !important; }
.m-green { color: lime !important; }
.m-litegray { color: #cccccc !important; }
.m-gray { color: #999999 !important; }
.m-darkgray { color: #767676 !important; }
.m-darkishgray { color: #666666 !important; }
.m-darkergray { color: #5a5a5a !important; }
.m-darkestgray { color: #333 !important; }
.m-silver { color: #f2f2f2 !important; }
.m-white { color: #ffffff !important; }
.m-black { color: #000000 !important; }
.m-blue { color: #0096d6 !important; }
.m-darkblue { color: #007dba !important; }
.m-red { color: red !important; }



 /* Lettering (Size) */
.m-xxsmall { font-size: 8px !important;}
.m-xsmall { font-size: 10px !important;}
.m-small { font-size: 12px !important; }
.m-medium { font-size: 14px !important; }
.m-normal { font-size: 16px !important; }
.m-large { font-size: 18px !important; }
.m-larger { font-size: 20px !important; }
.m-xlarge { font-size: 24px !important; }
.m-xxlarge { font-size: 32px !important; }


 /* Lettering (Style) */
.m-uppercase { text-transform: uppercase !important; }
.m-lowercase { text-transform: lowercase !important; }
.m-capitalize { text-transform: capitalize !important; }
.m-bold { font-weight: bold !important; }
.m-underline { text-decoration: underline !important; }
.m-italic { font-style: italic !important; }
.m-break { -ms-word-break: break-all; word-break:break-all; word-break:break-word; -webkit-hyphens:auto; -moz-hyphens:auto; hyphens:auto; }


/* Displays */
.m-table { display: table !important; }
.m-table-row { display: table-row !important; }
.m-table-cell { display: table-cell !important; }
.m-inline { display: inline !important; }
.m-inline-block { display: inline-block; }
.m-block { display: block !important; }


/* Positions */
.m-absolute { position: absolute !important; }
.m-relative { position: relative !important; }
.m-fixed { position: fixed !important; }
.m-static { position: static !important; }


/* Cursor */
.m-default { cursor: default !important; }
.m-pointer { cursor: pointer !important; }
.m-text  { cursor: text !important; }


/* Design */
.m-round { -moz-border-radius: .5em !important; -webkit-border-radius: .5em !important; -khtml-border-radius: .5em !important; border-radius: .5em !important; }
.m-rounder { -moz-border-radius: 1em !important; -webkit-border-radius: 1em !important; -khtml-border-radius: 1em !important; border-radius: 1em !important; }
.m-roundest { -moz-border-radius: 2em !important; -webkit-border-radius: 2em !important; -khtml-border-radius: 2em !important; border-radius: 2em !important; }
.m-ellipsis { text-overflow: ellipsis !important; white-space: nowrap !important; overflow: hidden !important; box-sizing: border-box !important; } /* child element has to be inline */
.m-resize { resize: both !important; }
.mv-resize { resize: vertical !important; }
.mh-resize { resize: horizontal !important; }
.m-noresize { resize: none !important; }

/* Alignment */
.m-left { float: left !important; }
.m-right { float: right !important; }
.m-nofloat { float: none !important; }
.m-align-left { text-align: left !important; }
.m-align-right { text-align: right !important; }
.m-center { text-align: center !important; }
.mt-vertical { vertical-align: top !important; }
.mm-vertical { vertical-align: middle !important; }
.mb-vertical { vertical-align: bottom !important; }
.m-auto { margin: 0 auto !important; }

/* Glyphs (Special Characters) */
.m-colon:after { content:":" !important; }
.m-dash:after { content: "-" !important; }
.m-required:after { content: "*" !important; }

}
